- content_for :title, "Sample##{@sample.id}"
%section
  .col-md-3.col-md-offset-1
    %h2= "Sample - #{@sample.id}"
%section
  .col-md-7.col-md-offset-1
    = render "edit_form"
  .col-md-4
    .row
      =render "sample_names"
    .row
      =render "similar_samples"

