.btn-toolbar{role: "toolbar"}
  .btn-group
    = link_to "New Incident", new_incident_path, class: "btn btn-primary", id: "new_incident",
      data: { toggle: "tooltip", placement: "bottom"}, title: "Report New Incident"

