%li.dropdown
  = link_to "/", class: "dropdown-toggle", 
    data: {toggle: 'dropdown'}, title: "Logged in as $User" do
    %span.glyphicon.glyphicon-user
  %ul.dropdown-menu{role:"menu"}
    %li
      = link_to "Profile", root_path
    %li
      = link_to "Settings", root_path
    %li.divider
    %li
      = link_to "Logout", root_path
