-# add navigation links to this file 
= link_to "Incidents", root_path, class: 'navbar-brand'
= link_to "Samples", root_path, class: 'navbar-brand'
= link_to "Command&Control", root_path, class: 'navbar-brand'
= link_to "Reports", root_path, class: 'navbar-brand'
